:root{
    --vermelho:#e50914;
    --preto:#000000;
}

@import url('https://fonts.googleapis.com/css2? family= Martel+Sans & display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: 'Martel Sans', sans-serif;
    color:white;
    overflow-x: hidden;
}

/*menu*/
.clear{clear: both;}

.container{
    max-width: 1280px;
    margin:0 auto;  
    display: flex;
    align-items: center;
    padding: 0 2%;
}

header{
    padding: 12px 0;
}

.container{
    float: left;
}

.container img{
    max-width: 180px;
}

header nav a{
    text-decoration: none;
    color:#aaaa;
    margin-left: 30px;
    font-size: 23px;
}

header nav a:hover{
    color:#ffff;
}

/*filme principal*/

.serie-principal{
    min-height: 500px;
    width: 100%;    
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/imgfixa.png');
    background-size: cover;
    display: flex;
    padding: 15px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.titulo-principal{
    margin-top:8%;    
    font-size: 60px;
    margin-bottom: 15px;
}

.descricao-principal{
    font-size: 20px;
    max-width: 60%;
    margin-bottom: 50px;
}

.botao{
    margin:5px 0;
    font-size: 23px;
    background-color:rgba(0,0,0,.50);
    border:none;
    color:white;
    padding: 13px;
    cursor:pointer;
    transition: .3% ease all;
}

.fa-solid{
    margin: 3px;
}

.botao:hover{
    background-color: white;
    color:var(--preto)
}

/*vitrine*/

section.vitrine .vitrine-flex{
	width: 96%;
	margin-left: 4%;
	position: relative;
    z-index: 4;
}

.vitrine-single-banner{
	width: 100%;
	padding-top: calc(16.6% / 2);
	float: left;
	position: relative;
}

.vitrine-wraper{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.vitrine-single-banner:hover{
    transform:scale(1.2,1.2);
    transition:1s;
}

@media screen and (max-width:768px){
   .menu{display: none;}
}

