:root{
    --vermelho:#e50914;
    --preto:#000000;
}

@import url('https://fonts.googleapis.com/css2? family= Martel+Sans & display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: 'Martel Sans', sans-serif;
    color:white;
    overflow-x: hidden;
}

/*menu*/
.clear{clear: both;}

.container{
    max-width: 1280px;
    margin:0 auto;  
    display: flex;
    align-items: center;
    padding: 0 2%;
}

header{
    padding: 20px 0;
}

.container{
    float: left;
}

.container img{
    max-width: 180px;
}

header nav a{
    text-decoration: none;
    color:#aaaa;
    margin-left: 30px;
    font-size: 23px;
    z-index:6
}

header nav a:hover{
    color:#ffff;
}

/*filme principal*/

section.serie-principal{
    background-image: url('../img/imgfixa.png');
    background-size:cover;
    background-position: center;
    width:100%;
    height: 600px;
    position:relative;
    z-index:1;

    overflow-y: hidden;
	overflow-x: hidden;
	
}

.sombra{
    z-index: 2;
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.texto-destaque{
    color:white;
    z-index: 3;
    position: relative;
    margin-top: 200px;
    margin-left:4%;
}

.texto-destaque h2{
    color:white;
    font-size:49px;
    text-transform: uppercase;
}

.texto-destaque p{
    font-size: 20px;
    max-width: 600px;
    margin-top: 2px;
}

.botao{
    margin:5px 0;
    font-size: 23px;
    background-color:rgba(0,0,0,.50);
    border:none;
    color:white;
    padding: 13px;
    cursor:pointer;
    transition: .3% ease all;
}

.botao:hover{
    background-color: white;
    color:var(--preto)
}

/*vitrine*/


.titulo-vitrine2{
    font-size:23px ;
    margin-top:40px;
    padding: 0 2%;
}

.titulo-vitrine a{
    text-decoration: none;
    color:white;
}

section.vitrine .vitrine-flex{
	width: 96%;
	margin-left: 4%;
	position: relative;
    z-index: 4;
}

.vitrine-single-banner{
	width: 100%;
	padding-top: calc(16.6% / 2);
	float:left;
	position: relative;
}

.vitrine-single-banner{
    margin: 2px 4px;
    cursor: pointer;
    margin-bottom: 23px;
}

.vitrine-wraper{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.vitrine-wraper:hover{
    transition:1s;
    transform:scale(1.1,1.1);
}

.titulo-vitrine{
    font-size:23px ;
    margin-top:40px;
    padding: 0 2%;
}



@media screen and (max-width:768px){
   .menu{display: none;}
}

